<h2 mat-dialog-title>Ask Question</h2>
<mat-dialog-content>

  <form [formGroup]="this.createQuestionForm">
    <div class="flex-col-container">
      <mat-form-field>
        <textarea matInput
                  placeholder="Question"
                  formControlName="text"></textarea>
      </mat-form-field>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button (click)="submitQuestion()">Submit</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
