<mat-drawer-container *ngIf="this.community">
  <mat-drawer mode="side" position="end" [opened]="true">
    <h3>Mentors</h3>
    <mat-divider></mat-divider>
    <mat-chip-list>
      <mat-chip *ngFor="let user of this.community.members.filter(this.mentorFilter)">
        {{ user.first_name + " " + user.last_name }}
      </mat-chip>
    </mat-chip-list>
    <h3>Members</h3>
    <mat-divider></mat-divider>
    <mat-chip-list>
      <mat-chip *ngFor="let user of this.community.members.filter(this.userFilter)">
        {{ user.first_name + " " + user.last_name }}
      </mat-chip>
    </mat-chip-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="header-container">
      <h1>{{ this.community.name }}</h1>
      <p><b>Description:</b> {{ this.community.description }}</p>
      <p><b>Location:</b> {{ this.community.location }}</p>
      <button mat-raised-button (click)="this.addEvent()">Add Event</button>
      <button style="margin-left: 20px" mat-raised-button (click)="this.addAnnouncement()">Add Announcement</button>
    </div>
    <div class="list-container">
      <mat-card *ngFor="let item of this.community.feed">
        <div class="flex-container">
          <mat-icon>{{ item.name ? 'calendar_today' : 'notification_important' }}</mat-icon>
          <h2>{{ item.name || item.title }}</h2>
        </div>
        <p><b>Description:</b> {{ item.description }}</p>
        <p *ngIf="item.date"><b>Date:</b> {{ item.date }}</p>
        <p *ngIf="item.location"><b>Location:</b> {{ item.location }}</p>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
