<div class= "page-container">

<div class= "container">
    <img src='/../../assets/treebackground.png' alt="Snow">
</div>

<div class= "column">
    <div class="title">
        <p>Coalesce</p>
    </div>
    <div class= "one">
        <p>Many Leaves.</p>
    </div>
    <div class= "two">
        <p>One Tree.</p>
    </div>
    <div class= "three">
        <p>Rooted in their common culture.</p>
    </div>
</div>


<div class="button">
    <button mat-raised-button color="warn" (click)="this.login()">Join Us</button>
</div>

</div>



