@import '../../styles';

.container {
    background-image: url("/../assets/treebackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 55px;
    height: auto;
    width: 100%;
    position: relative
}

// .centered {
//     position: absolute;
//     top: 20%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     font-family: 'Lato', sans-serif;
//     font-weight: 400;
//     font-size: 100px;
//     color: white;
// }
// .quotes {
//     position: absolute;
//     top: 40%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     font-family: 'Lato', sans-serif;
//     font-weight: 200;
//     font-size: 30px;
//     color: white;
// }

// .button{
//     position: absolute;
//     top: 80%;
//     left: 50%;

//     transform: translate(-50%, -50%);

// }

// img{
//     max-width: 100%;
//     height: auto;
//     position: relative;
//     right: 55px;
// }

