@import "theme";

$app-primary: #4caf50;
$app-accent: #ffc107;
$app-warn: #ef5350;
$app-primary-light: #95ce97;
$app-accent-light: #ffbd45;
$app-primary-dark: #388e3c;

@mixin non-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  height: 100%;
}

body {
  text-align: center;
  font-family: "Roboto", Avenir, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  background-color: $app-primary;
}
