@import "../node_modules/@angular/material/theming";
@include mat-core();

$app-primary: #689f38;
$app-accent: #ffc107;
$app-warn: #ef5350;

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
