<div class="page-container">

  <h1>Hello, bikerboy55!</h1>

  <mat-tab-group>

    <mat-tab label="Feed">
      <mat-card>
        <h2>Event name</h2>
        <p>Community Name</p>
        <p>Date/time</p>
        <p>Location</p>
      </mat-card>
    </mat-tab>

    <mat-tab label="Your Communities">
      <mat-card>
        <h2>Community name</h2>
        <p>Description of community</p>
        <p>Members: </p>
        <p>Topics</p>
      </mat-card>
    </mat-tab>

    <mat-tab label="Explore">
      <mat-form-field>
        <input matInput placeholder="Search...">
      </mat-form-field>
      <mat-card>
        <h2>Community name</h2>
        <p>Description of community</p>
        <p>Members: </p>
        <p>Topics</p>
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</div>
