.page-container {
  margin-top: 100px;
  color: white;
  width: 100%;
  text-align: center;

  h1 {
    font-size: 30px;
  }

}

mat-card {
  margin: 30px 60px 30px 60px;
  text-align: left;
  background-color: white;
  color: #414141;
}

mat-tab-group {
  margin-left: 40px;
  margin-right: 40px;
}

mat-form-field {
  width: 600px;
  font-size: 16px;
}

/deep/ .mat-tab-label-content {
  color: white;
}

/deep/ .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: white !important;
}
